<%= form_with(model: @question, local: true) do |f| %>
<% if @question.errors.any? %>
  <strong><%= @question.errors.count %>個のエラーがあります。</strong>
  <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

  <div>
    <%= f.label :question_title, '質問タイトル' %><br>
    <%= f.text_field :question_title %>
  </div>
  <div>
    <%= f.label :contents_question, '質問内容' %><br>
    <%= f.text_area :contents_question %>
  </div>
  <%= f.submit '登録' %>
<% end %>

