<h1>Questions#index</h1>
<p>Find me in app/views/questions/index.html.erb</p>
<%= @test %><br>
<% @questions.each do |question| %>
    <tr>
      <td><%= question.id %></td><br>
      <td><%= question.question_title %></td><br>
      <td><%= question.contents_question %></td><br>
      <td><%= link_to 'Show', question %></td><br>
    </tr>
  <% end %>

  <td><%= link_to 'new', new_question_url %></td><br>

  <div>現在回答募集中の質問一覧です</div>
  <div class="row text-center">
    <% @questions.each do |question| %>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title"><%= question.question_title %></h4>
            <p class="card-text"><%= question.contents_question %></p>
          </div>
          <div class="card-footer">
            <%= link_to '回答する' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
