<%= render  "shared/sample_top" %>
<% if logged_in? %>
  <td><%= link_to '質問を投稿する', new_question_path %></td><br>
  <td><%= link_to "ユーザー一覧", users_path %></td><br>
<% end %>
  <td><%= link_to '投稿一覧', posts_path, class: "btn btn-sky" %></td><br>
  <td><%= link_to 'ハッシュタグ一覧', categories_path %></td><br>
  <%# <span>ログインしているユーザ：</span><%= @user.name %>
  <%# <% @questions.each do |output| %>
  <%# <span>投稿者：</span><%= output.user.name %>
  <%# <% end %>
  <%# <span>投稿者：</span><%= question["name"] %>
<h2>ハッシュタグが埋め込まれている投稿一覧</h2>
  <div style = "display: flex; flex-wrap: wrap;">
    <%= render @questions %>
  </div>

<h1 class="text-3xl mb-3">投稿一覧</h1>
<div class="mb-3">
  <%= link_to '新規投稿', new_post_path, class: "btn btn-sky" %>
</div>
<%= render @posts %>

      <%# <p><h1>ログインできたよ</h1></p>
        <p>テスト</p>
      <p><%= link_to "Log in画面に戻る", login_path</p><br>
    <p><%= button_to "Log out（失敗例）", logout_path,method: :delete<p>/<br>
  <%if current_user
    <p><%="#{current_user.name}さん"%>
    <%# <%=link_to "ログアウト",:login,method: :delete,data:{confirm:"本当にログアウトしますか?"}</p> %>
  <%# <%end

  <p><%= link_to login_path, method: :delete, data:{confirm: "ログアウトしますか？"} do %>
    <%# <i>ログアウト</i></p
  <% end  %

  <script type="text/javascript">
  $(document).ready(function() {
    $("p").text("成功！！");
  });
</script>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path %>
        <%# <% if logged_in? %>
          <%# <li><%= link_to "Users", '#'</li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              <%# </li>
            </ul>
          </li> %>
        <%# <% else % %>
          <%# <li><%= link_to "Log in", login_path</li %>
        <%# <% end %>
      <%# </ul>
    </nav>
  </div> %>
<%# </header> %>
