<%= render  "shared/sample_top" %>
<section class="mx-auto max-w-screen-2xl px-2 sm:px-4">
  <div class="mb-8 flex flex-wrap justify-between md:mb-16">
    <div class="mb-6 flex w-full flex-col justify-center sm:mb-12 lg:mb-0 lg:w-1/3 lg:pt-48 lg:pb-24">
      <h1 class="text-black-800 mb-4 text-4xl font-bold sm:text-5xl md:mb-8 md:text-6xl">パパママのお悩みを<br />これで解決</h1>
      <p class="max-w-md leading-relaxed text-gray-500 text-xs sm:text-sm xl:text-lg">子育ての悩みはなにかひとつを解決しても、新たな悩みが出てきて尽きないものです。ひとりで抱え込むと、長く暗いトンネルに入り込んでしまった気持ちに陥り、このままずっと抜け出せないのではと不安を感じてしまいます。<br /><br />
      そんなときにはまず、悩みを共有できる人や場所を身近にもつことが大切です。しかし実際に、いますぐ子育ての悩みを共有できる人や場所をつくるのは難しいでしょう。ぜひこちらを活用して、悩みの解決策やおなじ悩みをもつ仲間を探してみてください。</p>
    </div>
    <div class="mb-12 flex w-full md:mb-16 lg:w-2/3">
      <div class="relative top-12 left-12 z-10 -ml-12 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:top-16 md:left-16 lg:ml-0 animate-slide-in-elliptic-top-fwd">
        <img src="img/4_v2.jpg" loading="lazy" alt="Photo by Kaung Htet" class="h-full w-full object-cover object-center" />
      </div>
      <div class="overflow-hidden rounded-lg bg-gray-100 shadow-lg animate-slide-in-elliptic-top-fwd">
        <img src="img/2_v2.jpg" loading="lazy" alt="Photo by Manny Moreno" class="h-full w-full object-cover object-center" />
      </div>
    </div>
  </div>
<%# </section> %>

  <div class="bg-white pb-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl md:px-8">
      <div class="mb-6 flex items-end justify-between gap-4">
        <h2 class="text-2xl font-bold text-gray-800 lg:text-3xl">Collections</h2>
      </div>

      <div class="grid gap-x-4 gap-y-6 grid-cols-2">
        <!-- product - start -->
        <div class="flex flex-col items-center w-full">
          <div class="group mb-2 block h-24 sm:h-40 lg:h-52 overflow-hidden rounded-lg bg-gray-100 shadow-lg lg:mb-3">
            <img src="img/24907189_s.jpg" loading="lazy" alt="Photo by Austin Wade" class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
          </div>
          <div class="text-sm font-bold text-gray-800 lg:text-xl">
              誰か詳しい人に聞きたい！
          </div>
          <div class="flex flex-col mt-auto">
            <%= link_to new_question_path do %>
              <button class="mt-5 lg:mt-14 w-full text-xs relative px-6 py-3 font-bold text-black group">
                <span class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-blue-300 group-hover:translate-x-0 group-hover:translate-y-0"></span>
                <span class="absolute inset-0 w-full h-full border-4 border-black"></span>
                <span class="relative">質問する！</span>
              </button>
            <% end %>
          </div>
        </div>
        <!-- product - end -->

        <!-- product - start -->
        <div class="flex flex-col items-center">
          <div class="group mb-2 block h-24 sm:h-40 lg:h-52 overflow-hidden rounded-lg bg-gray-100 shadow-lg lg:mb-3">
            <img src="img/26882678_s.jpg" loading="lazy" alt="Photo by Austin Wade" class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
          </div>
          <div class="text-sm font-bold text-gray-800 lg:text-xl">
          日々の思い出を共有したい！
          </div>
          <div class="flex flex-col mt-auto">
            <%= link_to new_post_path do %>
              <button class="mt-5 lg:mt-14 w-full text-xs relative px-6 py-3 font-bold text-black group">
                <span class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-green-300 group-hover:translate-x-0 group-hover:translate-y-0"></span>
                <span class="absolute inset-0 w-full h-full border-4 border-black"></span>
                <span class="relative">投稿する！</span>
              </button>
            <% end %>
          </div>
        </div>
        <!-- product - end -->

      </div>
    </div>
  </div>

  <div class="mb-6 flex items-end justify-between gap-4 md:px-8">
    <h2 class="text-2xl font-bold text-gray-800 lg:text-3xl">Collections</h2>
  </div>

  <div class="bg-white sm:px-8">
    <!-- nav - start -->
    <nav class="grid gap-x-4 gap-y-6 grid-cols-2  lg:grid-cols-4 sticky bottom-0 mx-auto justify-center md:justify-between gap-5 border-t border-b bg-white px-4 pt-5 pb-3 text-xs rounded-t-xl rounded-b-xl border-l border-r sm:text-sm mb-6 shadow-lg">
      <% if logged_in? %>
        <%= link_to(users_path, class: 'list-content1') do %>
          <div class="list-content1 sm:px-10 flex flex-col items-center gap-1 text-gray-400 transition duration-100 hover:text-indigo-500 active:text-gray-600">
            <svg xmlns="http://www.w3.org/2000/svg" height="1.625em" viewBox="0 0 448 512" fill="currentColor">
            <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path fill-rule="evenodd" d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" clip-rule="evenodd" />
            </svg>
            <span>ユーザー一覧</span>
            <p class="max-w-md leading-relaxed text-gray-500 xl:text-lg">相互フォローでチャットができます</p>
          </div>
        <% end %>
      <% end %>

      <%= link_to(questions_path, class: 'list-content2') do %>
        <div class="list-content2 sm:px-10 flex flex-col items-center gap-1 text-gray-400 transition duration-100 hover:text-blue-500 active:text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" height="1.625em" viewBox="0 0 320 512" fill="currentColor">
        <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <path clip-rule="evenodd" d="M80 160c0-35.3 28.7-64 64-64h32c35.3 0 64 28.7 64 64v3.6c0 21.8-11.1 42.1-29.4 53.8l-42.2 27.1c-25.2 16.2-40.4 44.1-40.4 74V320c0 17.7 14.3 32 32 32s32-14.3 32-32v-1.4c0-8.2 4.2-15.8 11-20.2l42.2-27.1c36.6-23.6 58.8-64.1 58.8-107.7V160c0-70.7-57.3-128-128-128H144C73.3 32 16 89.3 16 160c0 17.7 14.3 32 32 32s32-14.3 32-32zm80 320a40 40 0 1 0 0-80 40 40 0 1 0 0 80z" clip-rule="evenodd" /></svg>
          <span>質問一覧</span>
          <p class="max-w-md leading-relaxed text-gray-500 xl:text-lg">質問を投稿して悩みを解決しましょう</p>
        </div>
      <% end %>

      <%= link_to(posts_path, class: 'list-content3') do %>
        <div class="list-content3 sm:px-10 flex flex-col items-center gap-1 text-gray-400 transition duration-100 hover:text-green-500 active:text-gray-600">
          <svg xmlns="http://www.w3.org/2000/svg" height="1.625em" viewBox="0 0 512 512" fill="currentColor">
            <path fill-rule="evenodd" d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z" clip-rule="evenodd" />
          </svg>
        <span>投稿一覧</span>
        <p class="max-w-md leading-relaxed text-gray-500 xl:text-lg">思い出を共有しましょう（写真も投稿できます）</p>
      </div>
    <% end %>

    <%= link_to(categories_path, class: 'list-content3') do %>
      <div class="list-content3 sm:px-10 flex flex-col items-center gap-1 text-gray-400 transition duration-100 hover:text-gray-700 active:text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" height="1.625em" viewBox="0 0 448 512" fill="currentColor">
        <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <path clip-rule="evenodd" d="M181.3 32.4c17.4 2.9 29.2 19.4 26.3 36.8L197.8 128h95.1l11.5-69.3c2.9-17.4 19.4-29.2 36.8-26.3s29.2 19.4 26.3 36.8L357.8 128H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H347.1L325.8 320H384c17.7 0 32 14.3 32 32s-14.3 32-32 32H315.1l-11.5 69.3c-2.9 17.4-19.4 29.2-36.8 26.3s-29.2-19.4-26.3-36.8l9.8-58.7H155.1l-11.5 69.3c-2.9 17.4-19.4 29.2-36.8 26.3s-29.2-19.4-26.3-36.8L90.2 384H32c-17.7 0-32-14.3-32-32s14.3-32 32-32h68.9l21.3-128H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h68.9l11.5-69.3c2.9-17.4 19.4-29.2 36.8-26.3zM187.1 192L165.8 320h95.1l21.3-128H187.1z" clip-rule="evenodd" />
        </svg>
        <span>ハッシュタグ一覧</span>
        <p class="max-w-md leading-relaxed text-gray-500 xl:text-lg">質問の最下部に「# ハッシュタグ」でキーワードを設定できます</p>
      </div>
    <% end %>
    <!-- nav - end -->
  </div>

  <div class="">
    <div class="mx-auto max-w-screen-8xl md:px-8">
      <div class="pb-10 mx-auto rounded-lg border shadow-lg">
        <h2 class="m-4 text-2xl font-bold text-gray-800 lg:text-3xl">コメントが多い質問</h2>
        <%# <div class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3"> %>
        <div class="flex overflow-x-auto p-1.5">
            <%# <% @questions.each_with_index do |question| %>
            <%# <% if @all_comment_ranks.present? %>
          <% @all_comment_ranks.each.with_index do |question| %>
            <%# <div class="m-5 py-6 sm:py-8 lg:py-12"> %>
              <%# <div class=" mx-auto max-w-5xl rounded-lg border"> %>
                <%
                  display_contents_question = question.contents_question.gsub(/[#＃][\w\p{Han}ぁ-ヶｦ-ﾟー]+/,"")
                %>

                <div class="flex-none w-[18rem] flex-col p-4 mr-2 max-w-5xl rounded-lg border shadow-md">
                  <div class="mt-auto flex justify-between">
                    <div class="flex items-center gap-2">
                      <div class="h-10 w-10 shrink-0 overflow-hidden rounded-full">
                        <%= image_tag avatar_url(question.user), class: "h-full w-full object-cover object-center" %>
                      </div>
                      <div>
                        <p class="block text-gray-500"><%= link_to question.user.name, user_path(question.user), class: "break-all" %> さん</p>
                      </div>
                    </div>
                  </div>
                  <div>
                    <p class="font-bold text-blue-600">
                    タイトル
                    <%= question.id %>
                    </p>
                    <p class="mb-2 text-lg font-semibold text-gray-800 line-clamp-1">
                    <%= question.question_title %>
                    </p>
                    <p class="font-bold text-blue-600">
                    質問内容
                    </p>
                    <p class="mb-8 text-gray-500 line-clamp-3">
                    <%= safe_join(display_contents_question.split("\n"),tag(:br)) %><br>
                      <% if question.categories.present? %>
                        <% question.categories.each do |category| %>
                          <%= link_to "##{category.category}", category_path(category.id) %>
                        <% end %>
                      <% end %>
                    </p>
                  </div>
                  <%= link_to "続きを読む", question_path(question.id) %>
                </div>
              <%# </div> %>
            <%# </div> %>
          <% end %>
        </div>

        <h2 class="m-4 text-2xl font-bold text-gray-800 md:m-8 lg:text-3xl">いいねが多い投稿</h2>
        <!--配列の1つ目から順に1位、２位と表示される-->
        <div class="flex overflow-x-auto p-1.5">
          <% @post_like_ranks.each.with_index(1) do |post| %>
            <div class="flex-none w-[18rem] flex-col p-4 mr-2 max-w-5xl rounded-lg border shadow-md">
              <div class="my-8">
                <div id="post-<%= post.id %>" class="mb-3">
                  <div class="mt-auto flex justify-between">
                    <div class="flex items-center gap-2">
                      <div class="h-10 w-10 shrink-0 overflow-hidden rounded-full">
                        <%= image_tag avatar_url(post.user), class: "h-full w-full object-cover object-center" %>
                      </div>
                      <div>
                        <p class="block text-gray-500"><%= link_to(post.user.name, user_path(post.user), class: "break-all") %> さんの投稿</p>
                      </div>
                    </div>
                  </div>
                  <div>
                    <p class="font-bold text-green-600">
                      タイトル
                    </p>
                    <p class="mb-2 text-lg font-semibold text-gray-800 line-clamp-1">
                      <%= post.post_title %>
                    </p>
                    <% if post.images.attached? %>
                      <% post.images.each do |image| %>
                        <div class="mb-2 inline-flex">
                          <%= image_tag(image, width:100, class: "") %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                  <%= link_to "続きを読む", post_path(post) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%#
      <h1 class="text-3xl mb-3">投稿一覧</h1>
      <div class="mb-3">
        <%= link_to '新規投稿', new_post_path, class: "btn btn-sky" %>
      <%# </div> %>
      <%# <%= render @posts %>

<%#
<% @all_comment_ranks.each.with_index(1) do |question, i| %>
  <%# <h6>第<%= i位</h6> %>
  <%# <h6>
      <%= question.question_title %>
  <%# </h6> %>
            <%# <% if question.categories.present? %>
            <%# <% question.categories.each do |category| %>
              <%# <%= link_to "##{category.category}", category_path(category.id) %>
            <%# <% end %>
          <%# <% end %>
        <%# </p> %>
      <%# </div> %>
<%# <% end %>
