  <h1>Sessions#new</h1>
  <p>Find me in app/views/sessions/new.html.erb</p>
  <h1>ログイン</h1>
    <%= form_for :session, url: login_path do |f| %>
      <%= flash[:danger] %>
    
    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Log in" %>
  <% end %>

<script type="text/javascript">
$(document).ready(function() {
  $("p").text("成功！！");
});
</script>
