いいね一覧
<% @favorite_posts.each do |post|%>
<%= image_tag avatar_url(post.user), width: 50, class: "rounded-lg" %>
<p class="text-2xl text-green-600"><%= link_to(post.user.name, post_path(post.id)) %> さんの質問</p>
<p><%=post.post_title %></p>
<div class="my-8">
  <div id="post-<%= post.id %>" class="mb-3">
    <p class="font-bold">タイトル：<%= post.post_title %></p>
    <% if post.images.attached? %>
      <% post.images.each do |image| %>
        <div class="mb-2 inline-flex">
          <%= image_tag(image, width:100, class: "") %>
        </div>
      <% end %>
    <% end %>
  </div>
  <p><%= link_to "詳細", post_path(post) %></p>
<% end %>
<p><%= link_to "戻る", user_path(current_user) %></p>
