<div class="cover-user-index">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-5 mb-5">フォロー一覧</h1>
    </div>
    <div class="row justify-content-center">
      <% @users.each do |user| %>
      <div class="one-post card w-100">
        <%= link_to user_path(user) do %>
        <p class="caption h4"><%= user.name %></p>
        <div class="d-flex">
          <%# <%= attachment_image_tag @user, :profile_image, size: '50x50', fallback: "no_image.png", class: "mb-3 mt-3 ml-3 profile-img" %>
          <%# <h4 class="ml-5"><%= user.profile</h4> %>
        <%# </div> %>
        <%# <p class="caption"><%= "#{user.posts.count} 投稿"</p> %>
        <% end %>
      </div>
      <% end %>
    </div>
    <%= paginate @users %>
  </div>
</div>
