<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <h1 class="text-5xl text-green-600">＜ユーザー情報＞</h1>
    <%# <%if current_user%>
    <%# <p class="d-flex justify-content-end"> %>
    <% if logged_in? && @user == current_user %>
      <div class="flex flex-col overflow-hidden rounded-lg sm:flex-row">
        <div class="flex w-full flex-col p-4 sm:w-1/2 sm:p-8 lg:w-2/5">
          <h1>
            <%= image_tag avatar_url(current_user), width: 200, class: "rounded-lg" %>
          </h1>

          <% if current_user != @user %>
            <p>
              <% if current_user.following?(@user) %>
                <%= link_to 'フォロー外す', user_relationships_path(@user.id), data: { method: :delete }, class:"" %>
              <% else %>
                <%= link_to 'フォローする', user_relationships_path(@user.id), data: { method: :POST }, class:"" %>
              <% end %>
            </p>
          <% end %>

          <div class="ml-3 mb-3 card w-100">
            <div class="d-flex">
            <%# <%= attachment_image_tag @user, :profile_image, size: '100x100', fallback: "no_image.png", class: "mb-3 mt-3 ml-3 profile-img" %>
            <%# <h4 class="ml-5 m-3"><%= @user.profile</h4> %>
            <p class="mb-3 max-w-md"><%="#{current_user.name}さん"%></p>
            </div>
            <div class="d-flex">
              <%= link_to follows_user_path(@user) do %>
              <h6>フォロー<i class="text-blue-600"><%= @following_users.count %></i></h6>
              <% end %>
              <%= link_to followers_user_path(@user) do %>
              <h6>フォロワー<i class="text-blue-600"><%= @follower_users.count %></i></h6>
              <% end %>
            </div>
          </div>
          <div class="d-flex">
            <% if current_user != @user && current_user.following?(@user) && @user.following?(current_user) %>
              <%= link_to 'chatを始める', chat_path(@user.id), class: "ml-3" %>
            <% end %>
          </div>

          <div class="space-x-4 p-2">
            <%= link_to "ログアウト", logout_path, data: { method: :delete, confirm: "本当にログアウトしますか？" }, class: "w-full px-4 py-2 mt-4 text-sm font-medium text-white uppercase transition-colors duration-200 transform bg-blue-600 rounded-md lg:w-auto hover:bg-blue-500 focus:outline-none focus:bg-blue-500" %>
          </div>

          <div class="space-x-4 p-2">
            <%= link_to '登録解除', user_path(@user.id), data: { method: :delete, confirm: "本当に削除しますか？" }, class: "w-full px-4 py-2 mt-4 text-sm font-medium text-white uppercase transition-colors duration-200 transform bg-blue-600 rounded-md lg:w-auto hover:bg-blue-500 focus:outline-none focus:bg-blue-500" %>
          </div>

          <div class="space-x-4 p-2">
            <%= link_to "設定", edit_user_path(current_user), class: "w-full px-4 py-2 mt-4 text-sm font-medium text-white uppercase transition-colors duration-200 transform bg-blue-600 rounded-md lg:w-auto hover:bg-blue-500 focus:outline-none focus:bg-blue-500" %>
          </div>

        </div>
        <!-- image - start -->
        <div class="h-48 w-full bg-gray-700 sm:order-none sm:h-auto sm:w-1/2 lg:w-3/5">
          <img src="https://images.unsplash.com/photo-1505846951821-e25bacf2eccd?auto=format&q=75&fit=crop&crop=top&w=1000&h=500" loading="lazy" alt="Photo by Dom Hill" class="h-full w-full object-cover object-center" />
        </div>
        <!-- image - end -->
      </div>

      <div class="flex flex-wrap" id="tabs-id">
        <div class="w-full">
          <ul class="flex overflow-x-auto mb-0 list-none  pt-3 pb-4">
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-white bg-pink-600" onclick="changeAtiveTab(event,'tab-profile')">
                  Questions
              </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-pink-600 bg-white" onclick="changeAtiveTab(event,'tab-settings')">
                  Categories
              </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-pink-600 bg-white" onclick="changeAtiveTab(event,'tab-options')">
                  Comments
              </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-pink-600 bg-white" onclick="changeAtiveTab(event,'tab-posts')">
                  Posts
              </a>
            </li>
          </ul>
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
            <div class="px-4 py-5 flex-auto">
              <div class="tab-content tab-space">
                <div class="block" id="tab-profile">
                  <p>
                    <h2>質問一覧</h2>
                    <% @user.questions.each do |question| %>
                      <p>
                        <%= link_to question.question_title, question_path(question) %>
                      </p>
                    <% end %>
                  </p>
                </div>
                <div class="hidden" id="tab-settings">
                  <p>
                    <h2>ハッシュタグ一覧</h2>
                    <% @categories.each do |category| %>
                      <p>
                        <%= link_to "##{category.category}", category_path(category.id) %>
                      </p>
                    <% end %>
                  </p>
                </div>
                <div class="hidden" id="tab-options">
                  <p>
                    <h2>コメントした投稿一覧</h2>
                      <% @question_answer.each do |question_answer| %>
                    <p>
                      <%= link_to "#{question_answer.question_title}", question_path(question_answer.id) %>
                    </p>
                      <% end %>
                  </p>
                </div>
                <div class="hidden" id="tab-posts">
                  <p>
                    <p><%=link_to"お気に入り記事一覧",favorites_user_path(@user) %></p>
                    <h2>投稿一覧</h2>
                      <% @user.posts.each do |post| %>
                    <p>
                      <%= link_to post.post_title, post_path(post) %>
                    </p>
                      <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="flex flex-col overflow-hidden rounded-lg sm:flex-row">
        <div class="flex w-full flex-col p-4 sm:w-1/2 sm:p-8 lg:w-2/5">
          <h1>
            <%= image_tag avatar_url(@user), width: 200, class: "rounded-lg" %>
            <p class="mb-3"><%="#{@user.name}さん"%></p>
          </h1>
          <% if current_user != @user %>
            <p class="mb-8">
              <% if current_user.following?(@user) %>
                <%= link_to 'フォロー外す', user_relationships_path(@user.id), data: { method: :delete }, class: "w-full rounded border px-2 py-1 text-sm text-gray-500" %>
              <% else %>
                <%= link_to 'フォローする', user_relationships_path(@user.id), data: { method: :POST }, class:"w-full rounded border px-2 py-1 text-sm text-gray-500" %>
              <% end %>
            </p>
          <% end %>
          <div class="ml-3 mb-3 card w-100">
            <div class="d-flex">
            <%# <%= attachment_image_tag @user, :profile_image, size: '100x100', fallback: "no_image.png", class: "mb-3 mt-3 ml-3 profile-img" %>
            <%# <h4 class="ml-5 m-3"><%= @user.profile</h4> %>
            </div>
            <div class="d-flex">
              <%= link_to follows_user_path(@user) do %>
              <h6>フォロー<i class="text-blue-600"><%= @following_users.count %></i></h6>
              <% end %>
              <%= link_to followers_user_path(@user) do %>
              <h6>フォロワー<i class="text-blue-600"><%= @follower_users.count %></i></h6>
              <% end %>
            </div>
          </div>
          <div class="d-flex">
            <% if current_user != @user && current_user.following?(@user) && @user.following?(current_user) %>
              <%= link_to 'chatを始める', chat_path(@user.id), class: "ml-3" %>
            <% end %>
          </div>
        </div>
        <!-- image - start -->
        <div class="h-48 w-full bg-gray-700 sm:order-none sm:h-auto sm:w-1/2 lg:w-3/5">
          <div class="h-full w-full object-cover object-center">
          </div>
        </div>
        <!-- image - end -->
      </div>

      <div class="flex flex-wrap" id="tabs-id">
        <div class="w-full">
          <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-white bg-pink-600" onclick="changeAtiveTab(event,'tab-profile')">
                  Profile
              </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-pink-600 bg-white" onclick="changeAtiveTab(event,'tab-settings')">
                  Settings
              </a>
            </li>
          </ul>
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
            <div class="px-4 py-5 flex-auto">
              <div class="tab-content tab-space">
                <div class="block" id="tab-profile">
                  <p>
                    <h2>質問一覧</h2>
                      <% @user.questions.each do |question| %>
                    <p>
                      <%= link_to question.question_title, question_path(question) %>
                    </p>
                      <% end %>
                  </p>
                </div>
                <div class="hidden" id="tab-settings">
                  <p>
                    <h2>投稿一覧</h2>
                      <% @user.posts.each do |post| %>
                    <p>
                      <%= link_to post.post_title, post_path(post) %>
                    </p>
                      <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  function changeAtiveTab(event,tabID){
    let element = event.target;
    while(element.nodeName !== "A"){
      element = element.parentNode;
    }
    ulElement = element.parentNode.parentNode;
    aElements = ulElement.querySelectorAll("li > a");
    tabContents = document.getElementById("tabs-id").querySelectorAll(".tab-content > div");
    for(let i = 0 ; i < aElements.length; i++){
      aElements[i].classList.remove("text-white");
      aElements[i].classList.remove("bg-pink-600");
      aElements[i].classList.add("text-pink-600");
      aElements[i].classList.add("bg-white");
      tabContents[i].classList.add("hidden");
      tabContents[i].classList.remove("block");
    }
    element.classList.remove("text-pink-600");
    element.classList.remove("bg-white");
    element.classList.add("text-white");
    element.classList.add("bg-pink-600");
    document.getElementById(tabID).classList.remove("hidden");
    document.getElementById(tabID).classList.add("block");
  }
</script>

<%
=begin %>
  <%# <%= gravatar_for @user %>
  <%# <p><%= @user.name %>
  <%# <p><%= image_tag @user.avatar.variant(resize:'250') %>

<p><%= button_to '登録解除', user_path(@user.id), { method: :delete, data: { turbo_confirm: "本当に削除しますか？" } } %>

      <p>↓ちゃんとできてないっぽいやつ</p>
      <p><%=link_to("ログアウト",:login,method: :delete,data:{confirm:"本当にログアウトしますか?"})%></p>
      <p><%= link_to 'ログアウト', logout_path, :method => :post %></p>
      <%= link_to "Log out", logout_path, method: :post %>
      <p><%= link_to "delete", @user, method: :delete,
        data: { confirm: "You sure?" } %></p>

    <% if logged_in? && @user == current_user %>
      <%= link_to "編集する", edit_user_path(@user), class: "ui inverted green button" %>
      <%= link_to "削除する", @user, class: "ui inverted red button", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
    <% end %>

  <div class="ui two buttons">
      <% if logged_in? && @user == current_user %>
        <%= link_to edit_user_path(@user), class: "ui inverted green button" do %>
          <i class="icon edit"></i>
          編集する
        <% end %>
        <%= button_to @user, class: "ui inverted red button", data: { method: :delete, confirm: "本当に削除しますか？" } do %>
          <i class="icon trash alternate"></i>
          削除する
        <% end %>
      <% end %>
  </div>
<%
=end %>
