<div class="mt-4 text-center">
  <h2 class="text-2xl font-bold text-gray-800 md:m-8 lg:text-3xl">ユーザー情報</h2>
</div>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <%# <%if current_user%>
    <%# <p class="d-flex justify-content-end"> %>
    <% if logged_in? && @user == current_user %>
      <div class="flex flex-col overflow-hidden rounded-lg sm:flex-row">
        <div class="items-center text-center flex w-full flex-col p-4 sm:w-1/2 sm:p-8 lg:w-2/5">
          <h1>
            <%= image_tag avatar_url(current_user), width: 200, class: "rounded-lg" %>
          </h1>
          <%# <% if current_user != @user %>
            <%# <p>
              <% if current_user.following?(@user) %>
                <%# <%= link_to 'フォロー外す', user_relationships_path(@user.id), data: { method: :delete }, class:"" %>
              <%# <% else %>
                <%# <%= link_to 'フォローする', user_relationships_path(@user.id), data: { method: :POST }, class:"" %>
              <%# <% end %>
            <%# </p>
          <% end %>
          <div class="ml-3 mb-3 card w-100">
            <div class="d-flex">
            <%# <%= attachment_image_tag @user, :profile_image, size: '100x100', fallback: "no_image.png", class: "mb-3 mt-3 ml-3 profile-img" %>
            <%# <h4 class="ml-5 m-3"><%= @user.profile</h4> %>
            <p class="text-center mb-3 max-w-md break-all"><%="#{current_user.name}さん"%></p>
            </div>
            <div class="d-flex text-center">
              <%= link_to follows_user_path(@user) do %>
              <h6>フォロー<i class="text-lime-600"><%= @following_users.count %></i></h6>
              <% end %>
              <%= link_to followers_user_path(@user) do %>
              <h6>フォロワー<i class="text-lime-600"><%= @follower_users.count %></i></h6>
              <% end %>
            </div>
          </div>
          <div class="d-flex">
            <% if current_user != @user && current_user.following?(@user) && @user.following?(current_user) %>
              <%= link_to 'chatを始める', chat_path(@user.id) %>
            <% end %>
          </div>

          <div class="space-x-4 p-2">
            <%= link_to "ログアウト", logout_path, data: { method: :delete, confirm: "本当にログアウトしますか？" }, class: "w-full px-4 py-2 mt-4 text-sm font-medium uppercase transition-colors duration-200 transform text-lime-600 rounded-md lg:w-auto hover:bg-lime-500 hover:text-white focus:outline-none focus:bg-lime-500" %>
          </div>

          <div class="space-x-4 p-2">
            <%= link_to '登録解除', user_path(@user.id), data: { method: :delete, confirm: "本当に削除しますか？" }, class: "w-full px-4 py-2 mt-4 text-sm font-medium uppercase transition-colors duration-200 transform text-lime-600 rounded-md lg:w-auto hover:bg-lime-500 hover:text-white focus:outline-none focus:bg-lime-500" %>
          </div>

          <div class="space-x-4 p-2">
            <%= link_to "設定", edit_user_path(current_user), class: "w-full px-4 py-2 mt-4 text-sm font-medium uppercase transition-colors duration-200 transform text-lime-600 rounded-md lg:w-auto hover:bg-lime-500 hover:text-white focus:outline-none focus:bg-lime-500" %>
          </div>

        </div>
        <!-- image - start -->
        <div class="h-full w-full bg-lime-100  sm:order-none sm:h-auto sm:w-1/2 lg:w-3/5">
          <div class="m-8">
          <p class="mb-2 border-b border-stone-700">妊娠されている方は何ヶ月か</p>
          <p class="mb-3"><%="#{current_user.months_pregnant}ヶ月"%></p>
          <p class="mb-2 border-b border-stone-700">赤ちゃんの誕生日</p>
          <p class="mb-3"><%=I18n.l(current_user.birthday_of_baby, format: :long, default: '-')%></p>
          <p class="mb-2 border-b border-stone-700">赤ちゃんの人数</p>
          <p class="mb-3"><%="#{current_user.number_of_baby}人"%></p>
          <p class="mb-2 border-b border-stone-700">現在育児中であればいつから</p>
          <p class="mb-3"><%=I18n.l(current_user.childcare_start, format: :long, default: '-')%></p>
          <p class="mb-2 border-b border-stone-700">育児卒業の方はいつから</p>
          <p class="mb-3"><%=I18n.l(current_user.childcare_start, format: :long, default: '-')%></p>
          <p class="mb-2 border-b border-stone-700">育児卒業の方はいつまで</p>
          <p class="mb-3"><%=I18n.l(current_user.childcare_graduation_end, format: :long, default: '-')%></p>
          </div>
        </div>
        <!-- image - end -->
      </div>

      <div class="flex flex-wrap" id="tabs-id">
        <div class="w-full">
          <ul class="flex overflow-x-auto mb-0 list-none  pt-3 pb-4">
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a class="whitespace-nowrap text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-white bg-lime-600" onclick="changeAtiveTab(event,'tab-profile')">
                  質問一覧
              </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a class="whitespace-nowrap text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-lime-600 bg-white" onclick="changeAtiveTab(event,'tab-settings')">
                  カテゴリ一覧
              </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a class="whitespace-nowrap text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-lime-600 bg-white" onclick="changeAtiveTab(event,'tab-options')">
                  コメントした質問一覧
              </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a class="whitespace-nowrap text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-lime-600 bg-white" onclick="changeAtiveTab(event,'tab-posts')">
                  投稿一覧
              </a>
            </li>
          </ul>
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
            <div class="px-4 py-5 flex-auto">
              <div class="tab-content tab-space">
                <div class="block" id="tab-profile">
                  <p>
                    <% @user.questions.each do |question| %>
                      <p class="py-3 border-t">
                        <%= link_to question.question_title, question_path(question), class:"line-clamp-1" %>
                      </p>
                    <% end %>
                  </p>
                </div>
                <div class="hidden" id="tab-settings">
                  <p>
                    <% @categories.each do |category| %>
                      <p class="py-3 border-t">
                        <%= link_to "##{category.category}", category_path(category.id), class:"line-clamp-1" %>
                      </p>
                    <% end %>
                  </p>
                </div>
                <div class="hidden" id="tab-options">
                  <p>
                      <% @question_answer.each do |question_answer| %>
                    <p class="py-3 border-t">
                      <%= link_to "#{question_answer.question_title}", question_path(question_answer.id), class:"line-clamp-1" %>
                    </p>
                      <% end %>
                  </p>
                </div>
                <div class="hidden" id="tab-posts">
                  <p>
                    <p class= "w-40 px-4 py-2 mt-4 mb-4 text-sm font-medium text-white uppercase transition-colors duration-200 transform bg-lime-600 rounded-md hover:bg-lime-500 focus:outline-none focus:bg-lime-500" ><%=link_to"お気に入り記事一覧",favorites_user_path(@user) %></p>
                      <% @user.posts.each do |post| %>
                    <p class="py-3 border-t">
                      <%= link_to post.post_title, post_path(post), class:"line-clamp-1" %>
                    </p>
                      <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="flex flex-col overflow-hidden rounded-lg sm:flex-row">
        <div class="items-center flex w-full flex-col p-4 sm:w-1/2 sm:p-8 lg:w-2/5">
          <h1>
            <%= image_tag avatar_url(@user), width: 200, class: "rounded-lg" %>
          </h1>
          <p class="mb-3 break-all"><%="#{@user.name}さん"%></p>
          </h1>
          <% if current_user != @user %>
            <div class="text-center w-full user_relationship_follow">
              <% if current_user.following?(@user) %>
                <%= link_to 'フォロー外す', user_relationships_path(@user.id), data: { method: :delete }, class: "block rounded border px-2 py-1 text-sm text-gray-500" %>
              <% else %>
                <%= link_to 'フォローする', user_relationships_path(@user.id), data: { method: :POST }, class:"block rounded border px-2 py-1 text-sm text-gray-500" %>
                <%# w-full %>
              <% end %>
            </div>
          <% end %>
          <div class="mb-3 card">
            <div class="d-flex">
            <%# <%= attachment_image_tag @user, :profile_image, size: '100x100', fallback: "no_image.png", class: "mb-3 mt-3 ml-3 profile-img" %>
            <%# <h4 class="ml-5 m-3"><%= @user.profile</h4> %>
            </div>
            <div class="d-flex">
              <%= link_to follows_user_path(@user) do %>
              <h6>フォロー<i class="text-lime-600"><%= @following_users.count %></i></h6>
              <% end %>
              <%= link_to followers_user_path(@user) do %>
              <h6>フォロワー<i class="text-lime-600"><%= @follower_users.count %></i></h6>
              <% end %>
            </div>
          </div>
          <div class="d-flex">
            <% if current_user != @user && current_user.following?(@user) && @user.following?(current_user) %>
              <%= link_to 'chatを始める', chat_path(@user.id) %>
            <% end %>
          </div>
        </div>
        <!-- image - start -->
        <div class="h-full w-full bg-lime-100  sm:order-none sm:h-auto sm:w-1/2 lg:w-3/5">
          <div class="m-8">
          <p class="mb-2 border-b border-stone-700">妊娠されている方は何ヶ月か</p>
          <p class="mb-3"><%="#{@user.months_pregnant}ヶ月"%></p>
          <p class="mb-2 border-b border-stone-700">赤ちゃんの誕生日</p>
          <p class="mb-3"><%=I18n.l(@user.birthday_of_baby, format: :long, default: '-')%></p>
          <p class="mb-2 border-b border-stone-700">赤ちゃんの人数</p>
          <p class="mb-3"><%="#{@user.number_of_baby}人"%></p>
          <p class="mb-2 border-b border-stone-700">現在育児中であればいつから</p>
          <p class="mb-3"><%=I18n.l(@user.childcare_start, format: :long, default: '-')%></p>
          <p class="mb-2 border-b border-stone-700">育児卒業の方はいつから</p>
          <p class="mb-3"><%=I18n.l(@user.childcare_start, format: :long, default: '-')%></p>
          <p class="mb-2 border-b border-stone-700">育児卒業の方はいつまで</p>
          <p class="mb-3"><%=I18n.l(@user.childcare_graduation_end, format: :long, default: '-')%></p>
          </div>
        </div>
        <!-- image - end -->
      </div>

      <div class="flex flex-wrap" id="tabs-id">
        <div class="w-full">
          <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a class="whitespace-nowrap text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-white bg-lime-600" onclick="changeAtiveTab(event,'tab-profile')">
                  質問一覧
              </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a class="whitespace-nowrap text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-lime-600 bg-white" onclick="changeAtiveTab(event,'tab-settings')">
                  投稿一覧
              </a>
            </li>
          </ul>
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
            <div class="px-4 py-5 flex-auto">
              <div class="tab-content tab-space">
                <div class="block" id="tab-profile">
                  <p>
                      <% @user.questions.each do |question| %>
                    <p class="py-3 border-t">
                      <%= link_to question.question_title, question_path(question) %>
                    </p>
                      <% end %>
                  </p>
                </div>
                <div class="hidden" id="tab-settings">
                  <p>
                      <% @user.posts.each do |post| %>
                    <p class="py-3 border-t">
                      <%= link_to post.post_title, post_path(post) %>
                    </p>
                      <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  function changeAtiveTab(event,tabID){
    let element = event.target;
    while(element.nodeName !== "A"){
      element = element.parentNode;
    }
    ulElement = element.parentNode.parentNode;
    aElements = ulElement.querySelectorAll("li > a");
    tabContents = document.getElementById("tabs-id").querySelectorAll(".tab-content > div");
    for(let i = 0 ; i < aElements.length; i++){
      aElements[i].classList.remove("text-white");
      aElements[i].classList.remove("bg-lime-600");
      aElements[i].classList.add("text-lime-600");
      aElements[i].classList.add("bg-white");
      tabContents[i].classList.add("hidden");
      tabContents[i].classList.remove("block");
    }
    element.classList.remove("text-lime-600");
    element.classList.remove("bg-white");
    element.classList.add("text-white");
    element.classList.add("bg-lime-600");
    document.getElementById(tabID).classList.remove("hidden");
    document.getElementById(tabID).classList.add("block");
  }
</script>

<%
=begin %>
  <%# <%= gravatar_for @user %>
  <%# <p><%= @user.name %>
  <%# <p><%= image_tag @user.avatar.variant(resize:'250') %>

<p><%= button_to '登録解除', user_path(@user.id), { method: :delete, data: { turbo_confirm: "本当に削除しますか？" } } %>

      <p>↓ちゃんとできてないっぽいやつ</p>
      <p><%=link_to("ログアウト",:login,method: :delete,data:{confirm:"本当にログアウトしますか?"})%></p>
      <p><%= link_to 'ログアウト', logout_path, :method => :post %></p>
      <%= link_to "Log out", logout_path, method: :post %>
      <p><%= link_to "delete", @user, method: :delete,
        data: { confirm: "You sure?" } %></p>

    <% if logged_in? && @user == current_user %>
      <%= link_to "編集する", edit_user_path(@user), class: "ui inverted green button" %>
      <%= link_to "削除する", @user, class: "ui inverted red button", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
    <% end %>

  <div class="ui two buttons">
      <% if logged_in? && @user == current_user %>
        <%= link_to edit_user_path(@user), class: "ui inverted green button" do %>
          <i class="icon edit"></i>
          編集する
        <% end %>
        <%= button_to @user, class: "ui inverted red button", data: { method: :delete, confirm: "本当に削除しますか？" } do %>
          <i class="icon trash alternate"></i>
          削除する
        <% end %>
      <% end %>
  </div>
<%
=end %>
