<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
<%= @user.name %> さんとのチャット</h1>

<div class="message" style="width: 800px;">
  <% @chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <p style="text-align: right;"><%= safe_join(chat.message.split("\n"),tag(:br)) %></p>
    <% else %>
    <%# safe_join(@display_contents_question.split("\n"),tag(:br)) %>
    <div class="message-sender"><%= chat.user.name %></div>
      <p style="text-align: left;"><%= safe_join(chat.message.split("\n"),tag(:br)) %></p>
    <% end %>
  <% end %>
</div>

<div class="errors">
  <%= render "layouts/errors", obj: @chat %>
</div>

<%= form_with model: @chat, data: {remote: true} do |f| %>
  <%= f.text_area :message, size:"55x8" %>
  <%= f.hidden_field :room_id %>
    <%= f.submit "送信" %>
<% end %>
