<div class="chat-container">
  <div class="chat-topbar bg-lime-600 border-t-2 border-lime-800">
    <h2><%= @user.name %> さんとのチャット</h2>
  </div>
  <div class="message">
    <%= render "chats/messages", chats: @chats %>
  </div>

  <div class="chat-form fixed inset-x-0 bottom-0">
    <%= form_with model: @chat, data: {remote: true} do |f| %>
      <div class="errors">
        <%= render "layouts/errors", obj: @chat %>
      </div>
      <%= f.text_area :message, placeholder: "メッセージを入力してください", autocomplete: "off", class: "w-full mb-4 h-32" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信" %>
    <% end %>
  </div>
</div>
