<div class="mx-auto max-w-lg rounded-lg border">
  <div class="flex flex-col gap-4 p-4 md:p-8">
    <%= form_with(model: @post, local: true, data: { controller: "images"}) do |f| %>
      <%= render 'layouts/errors', obj: @post %>

      <div class="mb-3">
        <%= f.label :post_title, "タイトル", class: "font-semibold block p-1" %>
        <%= f.text_field :post_title, autofocus: true, class: "w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>

      <div class="mb-3">
        <%= f.label :post_content, "投稿内容", class: "font-semibold block p-1" %>
        <%= f.text_area :post_content, autofocus: true, class: "w-full h-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>

      <%# <%= f.label :contents_question, '質問内容'<br> %>
      <%# <%= f.text_area :contents_question, size:"55x12" %>

      <div class="mb-3">
        <%= f.label :images, "画像", class: "font-semibold block p-1" %>
        <label class="post_images z-0 w-full px-4 py-2 mt-4 text-xs font-medium text-white uppercase transition-colors duration-200 bg-green-600 rounded-md hover:bg-green-500 focus:outline-none focus:bg-green-500">
        <%= f.file_field :images, multiple: true, accept: "image/jpeg,image/gif,image/png", data: { images_target: "select", action: "change->images#selectImages" } %>ファイルを選択
        </label>
        <p data-images-target="error" class="text-red-600"></p>
      </div>
      <div data-images-target="preview">
        <% if @post.images.attached? %>
          <% @post.images.each do |image| %>
            <div class="image-box inline-flex mx-1 mb-5" data-controller="images" data-images-target= "image_box">
              <div class="text-center">
                <%= image_tag image, width: "100" %>
                <a class="link cursor-pointer" data-action="click->images#deleteImage">削除</a>
                <%= f.hidden_field :images, name: "post[images][]", style: "display: none", value: "#{image.blob.id}" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="mb-3">
        <%= f.submit  "投稿する", class: "w-full block rounded-lg bg-gray-800 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-gray-300 transition duration-100 hover:bg-gray-700 focus-visible:ring active:bg-gray-600 md:text-base" %>
      </div>
    <% end %>
  </div>
</div>
