<div class="m-5 py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-5xl rounded-lg border mb-5">
    <div class="flex flex-1 flex-col p-4 sm:p-6">

      <div class="my-8">
        <div id="post-<%= post.id %>" class="mb-3">
          <div class="mt-auto flex justify-between">
            <div class="flex items-center gap-2">
              <div class="h-10 w-10 shrink-0 overflow-hidden rounded-full">
                <%= image_tag avatar_url(post.user), class: "h-full w-full object-cover object-center" %>
              </div>
              <div>
                <p class="block text-gray-500"><%= link_to(post.user.name, user_path(post.user), class: "break-all" ) %> さん</p>
              </div>
            </div>
          </div>
          <div>
            <p class="font-bold text-green-600">
            タイトル
            </p>
            <p class="mb-2 text-lg font-semibold text-gray-800 line-clamp-1">
            <%= post.post_title %>
            </p>
          </div>
          <% if post.images.attached? %>
            <% post.images.each do |image| %>
              <div class="mb-2 inline-flex">
                <%= image_tag(image, width:100, class: "") %>
              </div>
            <% end %>
          <% end %>
        </div>
        <% if logged_in? %>
          <%= link_to "詳細", post_path(post) %>
        <% end %>
        <% if logged_in? && post.user_post?(current_user) %>
          <%= link_to "編集", edit_post_path(post), class: "btn btn-outline-gray" %>
          <%= link_to "削除", post, data: { method: :delete, confirm: "削除してよろしいですか?" }, class: "btn btn-outline-gray" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
