<h2 class="m-4 text-center text-2xl font-bold text-gray-800 md:m-8 lg:text-3xl">投稿内容</h2>

<div class="m-5">
  <div class="text-center">
    <p><%= link_to '投稿一覧に戻る', posts_path, class: "" %></p>
  </div>
  <div class="p-4 mx-auto max-w-5xl rounded-lg border">

    <div class="flex items-center gap-2">
      <div class="h-10 w-10 shrink-0 overflow-hidden rounded-full">
        <%= image_tag avatar_url(@post.user), class: "h-full w-full object-cover object-center" %>
      </div>
      <div>
        <p class="block text-gray-500"><%= link_to(@post.user.name, user_path(@post.user), class: "break-all") %> さん</p>
      </div>
    </div>
    <% if logged_in? %>
      <% if current_user != @post.user %>
        <% if current_user.following?(@post.user) %>
          <%= link_to 'フォロー外す', user_relationships_path(@post.user.id), data: { method: :delete }, class: "inline-block rounded border bg-white px-5 py-1 my-2 text-center font-light text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-500 hover:text-white focus-visible:ring active:bg-indigo-700 text-xs sm:text-sm" %>
        <% else %>
          <%= link_to 'フォローする', user_relationships_path(@post.user.id), data: { method: :POST }, class: "inline-block rounded border bg-white px-5 py-1 my-2 text-center font-light text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-500 hover:text-white focus-visible:ring active:bg-indigo-700 text-xs sm:text-sm" %>
        <% end %>
      <% end %>
    <% end %>

    <div id="post-<%= @post.id %>" class="mb-3">
      <div>
        <p class="font-bold text-green-600">
        タイトル
        </p>
        <p class="mb-2 text-lg font-semibold text-gray-800">
          <%= @post.post_title %>
        </p>
        <p class="font-bold text-green-600">
          投稿内容
        </p>
        <p class="mb-8 text-gray-500">
          <%= safe_join(@post.post_content.split("\n"),tag(:br)) %>
        </p>
      </div>
      <% if @post.images.attached? %>
        <% @post.images.each do |image| %>
          <div class="m-8 inline-flex">
            <%= image_tag(image, width:300, class: "") %>
          </div>
        <% end %>
      <% end %>

      <div class="mb-8">
        <% if logged_in? %>
          <% if @post.favorited_by?(current_user) %>
            <%= link_to post_favorites_path(@post), method: :delete, class: "favorite_btn" do %>
              <div class="flex items-center">
                <svg class="mr-1 text-pink-600" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"  fill="currentColor">
                <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path clip-rule="evenodd" d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z" clip-rule="evenodd" />
                </svg>
                <%= @post.favorites.count %> いいね
              </div>
            <% end %>
          <% else %>
            <%= link_to post_favorites_path(@post), method: :post, class: "favorite_btn" do %>
              <div class="flex items-center">
                <svg class="mr-1 text-pink-600" xmlns="http://www.w3.org/2000/svg"  height="1em" viewBox="0 0 512 512"  fill="currentColor">
                <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path clip-rule="evenodd" d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z" clip-rule="evenodd" />
                </svg>
                <%= @post.favorites.count %> いいね
              </div>
            <% end %>
          <% end %>
          <div class="mt-8">
            <% if @post.user_post?(current_user) %>
              <%= link_to "編集", edit_post_path(@post), class: "btn btn-outline-gray" %>
              <%= link_to "削除", @post, data: { method: :delete, confirm: "削除してよろしいですか?" }, class: "btn btn-outline-gray" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
