<h2 class="m-4 text-center text-2xl font-bold text-gray-800 md:m-8 lg:text-3xl">投稿内容</h2>

<div class="m-5 py-6 sm:py-8 lg:py-12">
  <div class="text-center">
    <p><%= link_to '投稿一覧', posts_path, class: "" %></p>
  </div>
  <div class="p-4 mx-auto max-w-5xl rounded-lg border">

    <div class="flex items-center gap-2">
      <div class="h-10 w-10 shrink-0 overflow-hidden rounded-full">
        <%= image_tag avatar_url(@post.user), class: "h-full w-full object-cover object-center" %>
      </div>
      <div>
        <p class="block text-gray-500"><%= link_to(@post.user.name, user_path(@post.user), class: "break-all") %> さん</p>
      </div>
    </div>
    <% if logged_in? %>
      <% if current_user != @post.user %>
        <% if current_user.following?(@post.user) %>
          <%= link_to 'フォロー外す', user_relationships_path(@post.user.id), data: { method: :delete }, class: "inline-block rounded border bg-white px-2 text-center font-light text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-500 hover:text-white focus-visible:ring active:bg-indigo-700 text-xs sm:text-sm" %>
        <% else %>
          <%= link_to 'フォローする', user_relationships_path(@post.user.id), data: { method: :POST }, class: "inline-block rounded border bg-white px-2 text-center font-light text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-500 hover:text-white focus-visible:ring active:bg-indigo-700 text-xs sm:text-sm" %>
        <% end %>
      <% end %>
    <% end %>

    <div id="post-<%= @post.id %>" class="mb-3">
      <div>
        <p class="font-bold text-green-600">
        タイトル
        </p>
        <p class="mb-2 text-lg font-semibold text-gray-800">
          <%= @post.post_title %>
        </p>
        <p class="font-bold text-green-600">
          投稿内容
        </p>
        <p class="mb-8 text-gray-500">
          <%= @post.post_content %>
        </p>
      </div>
      <% if @post.images.attached? %>
        <% @post.images.each do |image| %>
          <div class="m-8 inline-flex">
            <%= image_tag(image, width:300, class: "") %>
          </div>
        <% end %>
      <% end %>

      <div class="mb-8">
        <% if logged_in? %>
          <% if @post.favorited_by?(current_user) %>
            <%= link_to post_favorites_path(@post), method: :delete, class: "favorite_btn" do %>
            ♥<%= @post.favorites.count %> いいね
            <% end %>
          <% else %>
            <%= link_to post_favorites_path(@post), method: :post, class: "favorite_btn" do %>
            ♡<%= @post.favorites.count %> いいね
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
